/* ==========================================================================
custom styles
========================================================================== */
body {
  font-family: Lato sans-serif;
}

#banner {
  padding-bottom: 1%;
}

.centered {
  text-align: center;
}


#logo {
  width:230px
}

/* Center Youtube videos */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Padding (for rows)*/
.padding-b1 {
  padding-bottom: 1%;
}
